* {
    margin: 0;
    padding: 0;
    font-family: 'Mali', cursive;
}
.item-hover:hover {
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
}
main {
    background-image: url(../images/fondo.png);
}

.margin-img {
    margin-left: 20px;
}

.carrousel_img {
    width: 100%;
    height: 50rem;
}

.carrousel_img img {
    object-fit:fill;
    height: 100%;
    opacity: 0.9;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
    padding: 5vw;
}

.img-container {
    position: relative;
}
.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
    border-color: hotpink;
}

.img-container__block{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.2s ease;
    background-color: #c3ac76;
}

.img-container__text{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.img-container__block:hover {
    opacity: 1;
    border-radius: 20px;
}

.text--link {
    font-weight: bold;
    font-size: 30px;
}
.link-carrousel {
    text-decoration: none;
    color:rgb(224, 39, 200);
    font-weight: 600;
    font-size: 30px;
}

.link-carrousel:hover {
    font-size: 35px;
    text-decoration: underline;
}



