
$color-pink: #f38cea;
 
@mixin image-center {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', cursive;
    list-style: none;
    text-decoration: none;
}

@keyframes loop {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(100%);
    }

}

body {
    background-image: url(../images/fondo.png);
}


.sidebar {
	position: fixed;
	width: 70px;
	margin-top: 550px;
	transition: all 0.3s linear;
    z-index: 999;
    
	li {
		height: 60px;
		position: relative;
		a {
			color: #ffffff;
			display: block;
			@include sizes (100%,100%);
			line-height: 60px;
			padding-left: 25%;
			border-bottom: 1px solid rgba(0,0,0,.4);
			transition: all .3s linear;
            &:hover {
                z-index: 1;
                width: 200px;
                border-bottom: 1px solid rgba(0,0,0,.5);
                box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
            }
			i {
				position: absolute;
				top: 17px;
				left: 20px;
				font-size: 27px;
			}
		}
		&:nth-child(1) {
			a {
				background: #4267B2;
			}
		}
		&:nth-child(2) {
			a {
				background: #1DA1F2;
			}
		}
		&:nth-child(3) {
			a {
				background: #E1306C;
			}
		}
		&:nth-child(4) {
			a {
				background: #333;
			}
		}
		&:nth-child(5) {
			a {
				
                background: #ff0000;
			}
		}
		
	}
}
.sidebar-ul {
    
	li {
		a {
			span {
				display: none;
				font-weight: bold;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
		&:hover {
			a {
				span {
					padding-left: 30%;
					display: block;
				}
			}
		}
	}
}


//  NAVBAR
.margin-img-footer {
    margin-left: 4vw;
}


.navbar-margin {
    li {
        margin-left: 1vw;

        a {
            color: #000000;
        }
    }
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 9999;
}

.nav-color {
    background-color: $color-pink;
}

.navbar-logo {
    margin-left: 2vw;
    font-family: 'Leckerli One', cursive;
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
}

.navbar-move_right {
    display: flex;
    justify-content: right;
}

.li-decoration {
    font-size: 2vh;

    a {
        transition: all 0.5s;

        &:hover {
            font-size: 1.2vw;
            z-index: 1;
        }

    }
}


// INDEX 


.carrousel_size {
    @include sizes (46vw,100%);

    img {
        @include image-center;
    }
}

.grid-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3vw;
    padding: 0 5vw 5vw 5vw;
}

.img-container_index {
    position: relative;
    height: 40vw;

    img {
        @include image-center;
        border-radius: 20px;
    }

}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include sizes (100%,100%);
    opacity: 0;
    transition: 1.2s ease;
    background-color: #ffc0cb;

    &:hover {
        opacity: 1;
        border-radius: 20px;
    }
}

.img-container__text {
    color: #ffffff;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text--link {
    font-weight: bold;
    font-size: 2rem;

    &:hover {
        font-size: 3rem;
    }
}

.web-title {
    background: #ffe2e2;
    background: linear-gradient(94deg, #ffe2e2 4%, #fc66e7 30%, #fa00ce 50%, #fc66e7 70%, #ffe2e2 98%);
    height: 8vw;
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
    display: flex;
    align-items: center;

    h1 {
        text-align: center;
        text-decoration: underline;
        font-size: 3vw;
    }

    h3 {
        text-align: center;
        font-size: 2vw;
    }
}

// PRODUCTOS
.productos-webtitle {
    text-align: center;
    margin-top: 2vw;
    text-decoration: underline;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 2vw;
}

.productos {
    display: flex;
    justify-content: center;

    img {
        @include image-center;
    }

    div {
        align-self: center;
        text-align: center;
        padding: 3vw;
        box-sizing: border-box;
    }
}

// CONTACTO
.contact-container {
    display: flex;
    flex-wrap: wrap;
}

.contact-img {
    @include sizes (auto,50%);

    img {
        @include image-center;
    }
}

.contact-form {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-form {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
        background-color: #fff3fe;
    }
}

input[type="submit"] {
    background-color: $color-pink;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 35%;

    &:hover {
        background-color: #e670dc;
        font-size: 20px;
    }
}

.contact-title {
    background: #ffd2f7;
    background: #ff64e3;
    background: linear-gradient(100deg, #ff64e3 9%, #ff87e9 28%, #ffe3fa 50%, #ff87e9 72%, #ff64e3 91%);
    height: 2.5vw;

    h2 {
        text-align: center;
        top: 1vw;
        text-decoration: underline;
        font-size: 2vw;
    }
}

.map-contact {
    @include sizes(50vw,100%);

    iframe {
        @include image-center;
    }
}


// servicios

.grid-gallery_servicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 25vw);
    grid-gap: .5vw;
    grid-template-areas:
        "a a b b"
        "a a d d"
        "e e d d"
        "c c c c";

    .gallery-item1 {
        grid-area: a;

        img {
            @include image-center;
        }
    }

    .gallery-item2 {
        grid-area: b;

        img {
            @include image-center;
        }
    }

    .gallery-item3 {
        grid-area: c;

        img {
            @include image-center;
        }
    }

    .gallery-item4 {
        grid-area: d;

        img {
            @include image-center;
        }
    }

    .gallery-item5 {
        grid-area: e;

        img {
            @include image-center;
        }
    }
}

.servicios-webtitle {
    text-align: center;
    padding: 2vw 0 2vw 0;

    h1 {
        text-decoration: underline;
        font-size: 2.5vw;
    }
}

.span-mesasdulces {
    background: #ffe2e2;
    background: linear-gradient(90deg, #ffe2e2 4%, #fc66e7 30%, #fa00ce 50%, #fc66e7 70%, #ffe2e2 98%);
    overflow: hidden;
    margin: 1vw 0 1vw 0;

    h2 {
        top: 0.5vw;
        font-size: 2vw;
        font-weight: bolder;
        animation: loop 10s linear infinite;
        overflow: hidden;
    }
}

.card-title {
    text-align: center;
}

.servicios-cards-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1vw;
}

// nosotros

.nosotros-title {
    text-align: center;
    background-color:#fff8e7 ;
}

@media screen and (max-width : 1024px) {
    
    .sidebar{
        display: none;
    }
    .grid-index {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .img-container_index {
        height: 60vw;
    }

    .contact-img {
        width: 100%;
    }

    .contact-container {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-form {
        margin-top: 5vw;
        margin-bottom: 5vw;

        h1 {
            font-size: 4vw;
        }
    }

    .contact-title {
        h2 {
            font-size: 3vw;
        }
    }
}

@media screen and (max-width : 921px) {
    .text--link {
        font-weight: bold;
        font-size: 2rem;

        &:hover {
            font-size: 2.5rem;
        }
    }

    .grid-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 2vw;
    }

    .productos {
        display: flex;
        justify-content: center;
        border-bottom: 1px #000000 solid;
    }

    .carrousel_size {
        height: 70vw;
    }

    .navbar-move_right {
        display: flex;
        justify-content: center;
    }

    .span-mesasdulces {
        height: 5vw;

        h2 {
            font-size: 2.5vw;
        }
    }

    .servicios-cards-flex {
        display: flex;
        flex-wrap: wrap;
        margin: 4vw 0 2vw 0;
    }

    .card {
        margin-bottom: 4vw;
    }
}



@media screen and (max-width : 500px) {
    .navbar-logo {
        font-size: 1.2rem;
    }

    .carrousel_size {
        height: 90vw;
    }

    .img-container_index {
        height: 85vw;
    }

    .img-container__text {
        font-size: 1.2rem;
    }

    .grid-index {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .web-title {
        height: 13vw;
        margin-bottom: 4vw;

        h1 {
            font-size: 5vw;
        }

        h3 {
            font-size: 3vw;
        }
    }

    .span-mesasdulces {
        height: 6vw;

        h2 {
            font-size: 3vw;
        }
    }

    .servicios-webtitle {
        h1 {
            font-size: 5vw;
        }
    }

    .grid-gallery_servicios {
        display: flex;
        flex-wrap: wrap;
    }

    .servicios-cards-flex {
        display: flex;
        flex-wrap: wrap;
        margin: 4vw 0 2vw 0;
    }

    .card {
        margin-bottom: 4vw;
    }

    .contact-title {
        height: 7vw;

        h2 {
            font-size: 5vw;
        }
    }

}